<h1>Sign Up</h1>
<%= form_tag users_path do %>
  <div>
    <%= label_tag :firstname %><br/>
    <%= text_field_tag "user[firstname]" %>
  </div>  
  <div>
    <%= label_tag :lastname %><br/>
    <%= text_field_tag "user[lastname]" %>
  </div>

  <div>
    <%= label_tag :email %><br/>
    <%= text_field_tag "user[email]" %>
  </div>
  <div>
    <%= label_tag :password %><br/>
    <%= password_field_tag "user[password]" %>
  </div>
  <div><%= submit_tag "Sign Up" %></div>
<% end %>